page id=0000000001 name="Forest" kind="sequence" priority=3 {
    entry id=0000000002 kind="npc" version=1 {
        name "Gorgoth" //string
        
        level 12 //int

        speed 1.5 //float

        hostile #true //bool

        home (ref)"0000000003:0000000009" //ref

        rarity (enum)"Rare" //enum

        stats hp=42 mana=7.0 //struct

        aliases { // list<string>
            - "Gor"
            - "Big G"
        }

        inventory { //map
            - "sword" 1 
            - 5 1.0
            - #true "yes"
            - (enum)"Epic" "hoo"
        }

        loot "gold" { //variant
            amount 100
        }
    }
}